body {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right top, #d10009, #d1002f, #cb004a, #bd0062, #aa0076);
  text-align: center;
  color: white;
  font-family: Arial;
  font-weight: bold;
}
.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
form {
  display: inline-block;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numbers {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;

}
input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.divider {
  display: inline-block;
  width: 10px;
  text-align: center;
}
.submit {
  display: inline-block;
  background-color:black;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  margin-left: 10px;
}
.button {
  display: inline-block;
  width: 50%;
  height: auto;
  cursor: pointer;
}